{:paths ["src/main/clojure" "resources" "target/classes"],
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"},
  manifold/manifold {:mvn/version "0.4.1"},
  org.hdrhistogram/HdrHistogram {:mvn/version "2.1.12"},
  macroz/tangle {:mvn/version "0.2.2"}},
 :aliases
 {:lein2deps
  {:deps
   {io.github.borkdude/lein2deps
    {:git/sha "1bcf2fbbcbef611381e5e9ccdc77bec1e62ea5e5"}},
   :ns-default lein2deps.build,
   :lein2deps/compile-java
   {:src-dirs ["src/main/java"],
    :class-dir "target/classes",
    :javac-opts ["-target" "1.8" "-source" "1.8"]}}},
 :deps/prep-lib
 {:ensure "target/classes", :alias :lein2deps, :fn compile-java}}
