{:linters

 {;; knitty
  :knitty/explicit-ns-in-yarn-key  {:level :warning}
  :knitty/invalid-yarn-key         {:level :error}
  :knitty/invalid-yarn-binding     {:level :error}
  :knitty/invalid-defyarn-name     {:level :error}}

 :hooks
 {:analyze-call
  {knitty.core/yarn    knitty.clj-kondo-hooks/yarn
   knitty.core/defyarn knitty.clj-kondo-hooks/defyarn
   knitty.core/doyank  knitty.clj-kondo-hooks/doyank*
   knitty.core/doyank! knitty.clj-kondo-hooks/doyank*
   knitty.core/declare-yarn knitty.clj-kondo-hooks/declare-yarn
   }

  }}
